$color-50: #f0f4f8;
$color-100: #d9e2ec;
$color-200: #bcccdc;
$color-300: #9fb3c8;
$color-400: #829ab1;
$color-500: #627d98;
$color-600: #486581;
$color-700: #334e68;
$color-800: #243b53;
$color-900: #102a43;
$color-1000: #0b1d2e;
