$color-text: #f2e7fe;

$color-accent-100: #dbb2ff;
$color-accent-200: #bb86fc;
$color-accent-300: #985eff;
$color-accent-400: #7f39fb;
$color-accent-500: #6200ee;
$color-accent-600: #5600e8;
$color-accent-700: #3700b3;
$color-accent-800: #30009c;
$color-accent-900: #23036a;

$color-900: #121212;
$color-800: #212121;
$color-700: #303030;
$color-600: #424242;

$color-danger: #cf6679;
